html {
    background-color: rgb(0, 0, 0);
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    user-select: none;
    overflow-x: hidden;
    cursor: url;
}

.profile {
    float: left;
    display: flex;
    background-color: rgb(29, 29, 29);
    padding: 10px;
    border-radius: 5px;
    width: 30%;
    transition: 1s;
    height: 200px;
}


.profile .info {
    float: left;
    padding: 10px; 
    width: 100px;
    border-radius: 5px;
    transition: 1s;
}


.profile .info .icon {
    border-radius: 100px;
}

.profile .skills {
    float: right;
    padding: 10px; 
    width: 300px;
    border-radius: 5px;
    transition: 1s;
}


.projects {
    top: 10px;
    float: right;
    background-color: rgb(29, 29, 29);
    padding: 10px;
    border-radius: 5px;
    width: 65%;
    transition: 1s;
}


.projects .box {
    float: left;
    margin: 5px;
    padding: 10px; 
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
}

.projects .box .icon {
    border-radius: 100px;
    margin-bottom: 5px;
}


.blogs {
    position: absolute;
    top: 260px;
    background-color: rgb(29, 29, 29);
    padding: 10px;
    width: 96%;
    border-radius: 5px;
    transition: 1s;
}

.blogs .box {
    margin: 5px;
    padding: 10px; 
    width: 80%;
    border-radius: 5px;
    transition: 1s;
}


#pythonLi {
    color: #4c93ce;
}

#htmlLi {
    color: #ff572d;
}

#cssLi {
    color: #946ad3;
}

#jsLi {
    color: #F0E05B;
}

#javaLi {
    color: #ff0e12;
}

#cLi {
    color: #659AD3;
}

.text {
    color: white;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #000000;
}

::-webkit-scrollbar-track:hover {
    background: #111111;
}
  
::-webkit-scrollbar-thumb {
    background: #242424;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #444444;
}
